@page
@model CountryModel
@using VirobnichaFirma.DAL
@{
    ViewData["Title"] = "Coutry";
}

<h1>Редактирование</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Country!.Id" />
            <div class="form-group">
                <label asp-for="Country!.CountryName" class="control-label"></label>
                <input asp-for="Country!.CountryName" class="form-control" />
                <span asp-validation-for="Country!.CountryName" class="text-danger"></span>
            </div>
            <p/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Сохранить"/>
                <a href="countries" class="btn btn-secondary">Назад</a>
            </div>
        </form>
    </div>
</div>